<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewEntry()">New Entry</button>
      <button class="btn btn-success" (click)="onSaveData()">Save Data</button>
      <button class="btn btn-success" (click)="onFetchData()">Fetch Data</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-entry-item
      *ngFor="let entryEl of entries; let i = index"
      [entry]="entryEl"
      [index] = "i"
     ></app-entry-item>
    </div>
  </div>