<div class="row">
    <div class="col-xs-12">
      <img
      [src]="entry.imagePath"
      alt="{{ entry.name }}"
      class="img-responsive"
      style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ entry.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-info">
          <a style="cursor: pointer;" (click)="onEditEntry()">Edit Entry</a>
        </button>
        <button
          type="button"
          class="btn btn-danger">
          <a style="cursor: pointer;" (click)="onEditEntry()">Delete Entry</a>
        </button>


       <!--  <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Entry <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditEntry()">Edit Entry</a></li>
          <li><a>Delete Entry</a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ entry.description }}
    </div>
  </div>
 
